@import "tailwindcss/preflight";
@import "tailwindcss";
@tailwind utilities;

 :root {
--bg: #ffffff;
--text: #111827;
}

.dark {
--bg: #0b1220;
--text: #e6eef8;
}


html, body, #__next {
height: 100%;
}

body {
background-color: var(--bg);
color: var(--text);
}